body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* ページを中央に配置 */
  align-items: center; /* ページを中央に配置 */
  min-height: 100vh; /* ページの高さを画面に合わせる */
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 上端に配置 */
  width: 1200px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  align-items: flex-start; /* 上端に配置 */
}

.left {
  text-align: center;
  margin-top: 50px;
  margin-right: 300px; /* 間隔を追加 */
}

.right {
  flex-grow: 1; /* 右側の領域が残りのスペースを占める */
}

.image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px; /* 間隔を追加 */
}

.form-item {
  margin-bottom: 10px; /* 間隔を追加 */
}

.uploaded-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.image-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#imageUpload {
  display: none;
}

#imageLabel {
  cursor: pointer;
}

#imageLabel img {
  max-width: 100%;
  max-height: 300px;
  margin-top: 10px;
}

#imageLabel span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #e74c3c;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="text"],
textarea,
select,
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

select {
  appearance: none;
  background-image: url("arrow-down.png");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 30px;
}

button {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #c0392b;
}

/* 必須装飾 */
.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}

.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}

.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}

.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}

.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
