body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* ページを中央に配置 */
  align-items: center; /* ページを中央に配置 */
  min-height: 100vh; /* ページの高さを画面に合わせる */
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1300px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 400px; /* 画像の最大高さを設定 */
  overflow: hidden;
}

.uploaded-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* アスペクト比を保持しつつ親要素に合わせて表示 */
}

.image-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.left {
  flex: 1;
  text-align: center;
}

#imageUpload {
  display: none;
}

#imageLabel {
  cursor: pointer;
}

#imageLabel img {
  max-width: 100%;
  max-height: 300px;
  margin-top: 10px;
}

#imageLabel span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #e74c3c;
}

.right {
  width: 1000px;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="text"],
textarea,
select,
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

select {
  appearance: none;
  background-image: url("arrow-down.png");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 30px;
}

button {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #c0392b;
}

/* 必須装飾 */
.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}

.form-row {
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #f2f4f5;
}
.form-row:last-child {
  border-bottom: none;
}
.form-label {
  display: flex;
  align-items: center;
  width: 250px;
}
.form-label label {
  font-weight: bold;
}
.form-label span {
  margin-left: 10px;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #fa8072;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.custom-file-upload:hover {
  background-color: #e9e9e9;
}

.conta {
  display: flex;
  justify-content: space-between;
  top: 30%;
}

.left {
  flex-basis: 45%; /* 左側の幅を調整 */
}

.right {
  flex-basis: 45%; /* 右側の幅を調整 */
}

.btn-primary {
  background-color: #e9967a; /* ボタンの背景色 */
  color: #fff; /* ボタンのテキスト色 */
  border: none; /* ボタンの枠線を削除 */
  padding: 10px 20px; /* ボタンのパディング */
  border-radius: 5px; /* ボタンの角丸 */
  cursor: pointer; /* カーソルをポインターに変更 */
  transition: background-color 0.3s ease; /* ホバー時のトランジション */
}

.btn-primary:hover {
  background-color: #e9967a; /* ホバー時の背景色 */
}
