<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>出品内容入力</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/toukou.css')}}" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Prata&display=swap"
      rel="stylesheet" />
 
    <div class="container">
      <div class="right">
        <h1><b>出品内容入力フォーム</b></h1>
        <form
          action="{{ url_for('detector.upload_images') }}"
          method="post"
          enctype="multipart/form-data"
          novalidate="novalidate">
          {{ form.csrf_token }}
        <div>
 
          <div class="conta">
            <div class="left"></br>
          {% for error in form.image.errors %}
          <span style="color: red">{{ error }}</span>
          {% endfor %}
                <div class="form-row">
                    <div class="form-label">
                        <label for="name">画像選択</label>
                        <span>必須</span>
                    </div>
                    <img id="imagePreview" src="#" alt="画像プレビュー" style="display: none; max-width: 400px; max-height: 600px;" />
                    <label for="image" class="custom-file-upload">
                        <input type="file" id="image" name="image" class="form-control-file" onchange="previewImage(event)" />
                        選択する
                    </label>
                    <br />
                </div>
            </div>
            <div class="right">
           
            <div class="form-row">
              <div class="form-label">
                <label for="name">商品名
                </label>
                <span>必須</span>
              </div>
            <label>
              <span
                >{{ form.title(size=30, class="form-control",
                placeholder="商品名") }}</span
              > </label>
          {% for error in form.title.errors %}
          <span style="color: red">{{ error }}</span>
          {% endfor %}
            <br />
            </div>

            <div class="form-row">
              <div class="form-label">
                <label for="name">カテゴリ1
                </label>
                <span>必須</span>
              </div>
            <label>
              <span
                >{{ form.sexual(class="form-control", placeholder="性別")
                }}</span
              > </label
            ><br />
            </div>
 
            <div class="form-row">
              <div class="form-label">
                <label for="name">カテゴリ2
                </label>
                <span>必須</span>
              </div>
              <label>
                <span
                  >{{ form.category(class="form-control",
                  placeholder="カテゴリー") }}</span
                > </label
              ><br />
            </div>
 
            <div class="form-row">
              <div class="form-label">
                <label for="name">サイズ
                </label>
                <span>必須</span>
              </div>
              <label>
                <span
                  >{{ form.size(class="form-control", placeholder="サイズ")
                  }}</span
                > </label
              ><br />
            </div>
 

            <div class="form-row">
              <div class="form-label">
                <label for="name">説明文
                </label>
              </div>
              <label>
                <span
                  >{{ form.explain(class="form-control", placeholder="説明文")
                  }}</span
                > </label
              ><br />
            </div>

            <div class="form-row">
              <div class="form-label">
                <label for="name">商品の状態
                </label>
                <span>必須</span>
              </div>
              <label>
                <span
                  >{{ form.condition(class="form-control", placeholder="状態")
                  }}</span
                > </label
              ><br />
            </div>
 
 

            <div class="form-row">
              <div class="form-label">
                <label for="name">発送までの日数
                </label>
                <span>必須</span>
              </div>
              <label>
                <span
                  >{{ form.send(class="form-control", placeholder="発送") }}</span
                > </label
              ><br />
            </div>
           
 
            <div class="form-row">
              <div class="form-label">
                <label for="name">販売価格
                </label>
                <span>必須</span>
              </div>
              <label>
                <span
                  >{{ form.price(class="form-control", placeholder="値段
                  ※600円以上") }}</span
                >
               
              </label>
            {% for error in form.price.errors %}
            <span style="color: red">{{ error }}</span>
            {% endfor %}
              <br />
            </div>
 
            <div class="form-row">
              <div class="form-label">
                <label for="name">出品形式
                </label>
                <span>必須</span>
              </div>
              <label>
                <span
                  >{{ form.type(class="form-control",
                  placeholder="購入・レンタル") }}</span
                > </label
              ><br />
            </div>
 
          </div>
        </div>
    </div>
          <hr />
          <div>
            <label> {{ form.submit(class="btn btn-primary") }} </label>
          </div>
        </form>
      </div>
    </div>
    <script src="{{url_for('static', filename='js/toukou.js')}}"></script>
  </head>
</html>