{% extends "detector/index.html" %}
{% block content %}
<div>
    <h4>出品</h4>
    <p>商品情報を入力してください。</p>
    <form action="{{ url_for('detector.upload_images') }}" method="post" enctype="multipart/form-data"
        novalidate="novalidate">
        {{ form.csrf_token }}
        <div>
            <label>
                <span>{{ form.title(size=30, class="form-control", placeholder="商品名") }}</span>
            </label><br>

            <label>
                <span>{{ form.explain(class="form-control", placeholder="説明") }}</span>
            </label><br>

            <label>
                <span>{{ form.category(class="form-control", placeholder="カテゴリー") }}</span>
            </label><br>

            <label>
                <span>{{ form.size(class="form-control", placeholder="サイズ") }}</span>
            </label><br>

            <label>
                <span>{{ form.condition(class="form-control", placeholder="状態") }}</span>
            </label><br>

            <label>
                <span>{{ form.price(class="form-control", placeholder="値段") }}</span>
            </label><br>

            <label>
                <span> {{ form.image(class="form-control-file") }} </span>
            </label>
        </div>
        {% for error in form.image.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <hr />
        <div>
            <label> {{ form.submit(class="btn btn-primary") }} </label>
        </div>
    </form>
</div>
{% endblock %}